#logo {
    width: 180px;
}

.ancho{
    width: 100%;

}

.primera {
    width: 350px;
    height: 350px;
}

.segunda{
    width: 350px;
    height: 350px;
}
.tercera{
    width: 350px;
    height: 350px;
}

.wpp{
    width: 50px;
    height:50px; 
}

